$dark-color: #252525;
$default-color: #2E2E2E;
$light-color: #3D3C3C;
$purple: #9063cd;

@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-ExtraBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-ExtraLight.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("@/fonts/montserrat/Montserrat-Thin.otf");
  font-weight: 100;
}